.cartPage {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.cart-page__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Alinea la tabla y el resumen al tope */
  gap: 2rem;
}
