.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ajusta las columnas dinámicamente */
  gap: 16px;
  justify-items: center; /* Centra los productos horizontalmente */
  align-items: start; /* Ajusta los productos verticalmente */
  margin: 0px 28px;
}

.product-grid__empty {
  grid-column: 1 / -1; /* Hace que el mensaje ocupe todo el ancho */
  text-align: center;
  color: #6c757d;
  font-size: 1.2rem;
  padding: 16px;
}
