/* hero.css */

.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-large) var(--padding-medium);
    background-color: var(--background-color);
}

.hero-content {
    max-width: 50%;
}

.hero-subtitle {
    color: var(--primary-color);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    margin-bottom: var(--padding-small);
}

.hero-content h1 {
    font-size: 48px;
    font-weight: var(--font-weight-bold);
    color: var(--text-color);
    line-height: 1.2;
    margin-bottom: var(--padding-small);
}

.hero-promotion {
    font-size: var(--font-size-large);
    color: var(--text-color);
    margin-bottom: var(--padding-small);
}

.hero-promotion .highlight {
    /* los colores también podrían estar como variables */
    color: #f39c12;
    font-weight: var(--font-weight-bold);
}

.hero-description {
    font-size: var(--font-size-medium);
    color: #666;
    margin-bottom: var(--padding-medium);
}

.hero-button {
    display: inline-block;
    padding: var(--padding-small) var(--padding-large);
    background-color: var(--primary-color);
    color: var(--text-light);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    border-radius: var(--border-radius-large);
    font-size: var(--font-size-medium);
    transition: background-color 0.3s;
}

.hero-button:hover {
    background-color: var(--accent-color);
}

.hero-button .button-arrow {
    margin-left: var(--padding-small);
}

.hero-image {
    max-width: 45%;
}

.hero-image img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        align-items: center;
        padding: var(--padding-medium) var(--padding-small);
    }

    .hero-content,
    .hero-image {
        max-width: 100%;
        text-align: center;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .hero-subtitle {
        font-size: var(--font-size-small);
    }

    .hero-promotion {
        font-size: var(--font-size-medium);
    }

    .hero-description {
        font-size: var(--font-size-small);
    }

    .hero-button {
        font-size: var(--font-size-small);
        padding: var(--padding-small) var(--padding-medium);
    }
}
